<section class="guide-subnav">
  <div class="container guide-subnav-inner">
    
    <div>
      <div class="guide-subnav-title-wrap">
        <h1 class="guide-subnav-title">신청 · 참여</h1>
        <p class="guide-subnav-subtitle">교육 및 예약을 함께해보세요.</p>
      </div>

      <div class="guide-subnav-img">
         </div>
    </div>

    <div class="guide-subnav-columns">
      <div class="guide-subnav-column">
        <h2 class="guide-subnav-heading">교육 · 행사</h2>
        <ul>
          <li><a href="#">교육 프로그램</a></li>
          <li><a href="#">온라인교육</a></li>
          <li><a href="#">교육 자료실</a></li>
          <li><a href="#">축제행사</a></li>
          <li><a href="#">동행투어</a></li>
        </ul>
      </div>

      <div class="guide-subnav-column">
        <h2 class="guide-subnav-heading">간편 신청·예약</h2>
        <ul>
          <li><a href="#">광장 예약</a></li>
          <li><a href="#">야구장 예약</a></li>
          <li><a href="#">캠핑장 예약</a></li>
        </ul>
      </div>

      <div class="guide-subnav-column">
        <h2 class="guide-subnav-heading">참여하기</h2>
        <ul>
          <li><a href="#">이벤트·공모전</a></li>
          <li><a href="#">자원봉사</a></li>
          <li><a href="#">동행기금</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>