<section class="guide-subnav">
    <div class="container guide-subnav-inner">
      <div>
        <div class="guide-subnav-title-wrap">
          <h1 class="guide-subnav-title">공원가이드</h1>
          <p class="guide-subnav-subtitle">서울대공원 쉽게 이용하기!</p>
        </div>

        <div class="guide-subnav-img">
          <!-- <img src="assets/images/illustrations/gnb_guide_bg.png">-->
        </div>
      </div>  
      <div class="guide-subnav-columns">
        <!-- 이용정보 -->
        <div class="guide-subnav-column">
          <h2 class="guide-subnav-heading">이용정보</h2>
          <ul>
            <li><a href="#">이용요금 및 시간</a></li>
            <li><a href="#">입장권 구매</a></li>
            <li><a href="#">오시는길</a></li>
            <li><a href="#">주차장 이용안내</a></li>
            <li><a href="#">공원 내 이동수단</a></li>
            <li><a href="facilities.html">편의시설</a></li>
            <li><a href="#">공원이용안내</a></li>
            <li><a href="#">실시간 환경정보</a></li>
          </ul>
        </div>
  
        <!-- 관람정보 -->
        <div class="guide-subnav-column">
          <h2 class="guide-subnav-heading">관람정보</h2>
          <ul>
            <li><a href="#">시설알아보기</a></li>
            <li><a href="courses.html">추천관람코스</a></li>
            <li><a href="#">관람안내도</a></li>
            <li><a href="#">관람에티켓</a></li>
            <li><a href="#">관람안내</a></li>
          </ul>
        </div>
  
        <!-- 고객센터 -->
        <div class="guide-subnav-column">
          <h2 class="guide-subnav-heading">고객센터</h2>
          <ul>
            <li><a href="#">고객소리함</a></li>
            <li><a href="#">자주하는 질문</a></li>
            <li><a href="#">분실물센터</a></li>
            <li><a href="#">홈페이지 바로잡기</a></li>
            <li><a href="#">공원 안전공지</a></li>
            <li><a href="#">안전신고센터</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  