<section class="guide-subnav">
  <div class="container guide-subnav-inner">
    
    <div>
      <div class="guide-subnav-title-wrap">
        <h1 class="guide-subnav-title">식물원 · 정원</h1>
        <p class="guide-subnav-subtitle">서울시 최초의 공립 수목원</p>
      </div>

      <div class="guide-subnav-img">
         </div>
    </div>

    <div class="guide-subnav-columns">
      <div class="guide-subnav-column">
        <h2 class="guide-subnav-heading">식물원 소개</h2>
        <ul>
          <li><a href="#">서울대공원 식물원 소개</a></li>
          <li><a href="#">테마가든 소개</a></li>
          <li><a href="#">식물원 발자취</a></li>
        </ul>
      </div>

      <div class="guide-subnav-column">
        <h2 class="guide-subnav-heading">식물원 둘러보기</h2>
        <ul>
          <li><a href="#">전시온실</a></li>
          <li><a href="#">식물 주제원</a></li>
          <li><a href="#">식물표본전시관</a></li>
          <li><a href="#">식물 보유현황</a></li>
          <li><a href="#">셀프가이드(식물해설)</a></li>
        </ul>
      </div>

      <div class="guide-subnav-column">
        <h2 class="guide-subnav-heading">테마가든 둘러보기</h2>
        <ul>
          <li><a href="#">장미원</a></li>
          <li><a href="#">주제정원</a></li>
          <li><a href="#">테마가든 나들이</a></li>
        </ul>
      </div>

      <div class="guide-subnav-column">
        <h2 class="guide-subnav-heading">꽃의 숲 정원 소개</h2>
        <ul>
          <li><a href="#">입구숲정원</a></li>
          <li><a href="#">호숫가정원</a></li>
          <li><a href="#">동물원정원</a></li>
          <li><a href="#">꽃의 숲 이야기</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>