<section class="guide-subnav">
  <div class="container guide-subnav-inner">
    
    <div>
      <div class="guide-subnav-title-wrap">
        <h1 class="guide-subnav-title">동물원</h1>
        <p class="guide-subnav-subtitle">희망과 삶의 활력이 느껴지는<br>힐링동물원</p>
      </div>

      <div class="guide-subnav-img">
         </div>
    </div>

    <div class="guide-subnav-columns">
      <div class="guide-subnav-column">
        <h2 class="guide-subnav-heading">동물원 소개</h2>
        <ul>
          <li><a href="#">서울동물원 소개</a></li>
          <li><a href="#">동물원 역사</a></li>
          <li><a href="#">AZA 인증</a></li>
          <li><a href="#">동물교실</a></li>
        </ul>
      </div>

      <div class="guide-subnav-column">
        <h2 class="guide-subnav-heading">동물원 둘러보기</h2>
        <ul>
          <li><a href="#">동물사 소개</a></li>
          <li><a href="#">동물원 인기코스</a></li>
          <li><a href="#">동물 보유현황</a></li>
          <li><a href="#">동물 생태설명회</a></li>
          <li><a href="#">이달의 동물</a></li>
        </ul>
      </div>

      <div class="guide-subnav-column">
        <h2 class="guide-subnav-heading">동물 이야기</h2>
        <ul>
          <li><a href="#">동물보전이야기</a></li>
          <li><a href="#">동물복지이야기</a></li>
          <li><a href="#">동물진료방역</a></li>
          <li><a href="#">멸종위기동물</a></li>
          <li><a href="#">사육사노트</a></li>
        </ul>
      </div>

      <div class="guide-subnav-column">
        <h2 class="guide-subnav-heading">어린이동물원</h2>
        <ul>
          <li><a href="#">어린이동물원 소개</a></li>
          <li><a href="#">동물사 소개</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>